
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body { 
    margin:0;
    padding:0;
    font-family:avenir, sans-serif; 
    background-color: #f5f5f5 !important;
}

h1, h2, h3, h4, h5 , h6 { 
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

ul > li {
    list-style:none;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}
form {
    margin-right: 10rem;
    margin-left: 10rem;
    padding: 2rem;
    box-shadow: yellow;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
form button {
    margin-top: 1rem;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}


nav {
    padding:10px 100px;
    font-size: 18px;
    overflow:auto;
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
    margin-bottom: 5rem;
}


nav .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:28px;
    margin-right:10%;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

/* SIDEBAR */
#sidebar {
    width:220px;
    padding:0 20px 0 0;
    float:left;
    border-right: solid #ececec;
    /* background-color: #121212; */
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
    text-decoration: none;
    color: rgb(8, 33, 56);
}

#sidebar ul li.selected {
    /* background:#aecfe6; */
    border-radius:4px;
}

#sidebar ul li.selected a {
    /* color:#fff; */
    text-decoration: underline;
}

/* MAIN */
#main {
    float:left;
    width: 96%;
    margin-right:-220px; 
    overflow:hidden;
    padding-left: 5rem;
}

li {
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

.card-link{
    color:  rgb(21, 76, 121);
}

.add-subject{
    border-radius: 7%;
    margin-top: 10rem;
}

.add-subject a{
    color: #fff;
}

.add-resource{
    font-weight: bold;
    color: rgb(250, 251, 255);
    float: left;
    margin-top: 5rem;
}

.add-resource a {
    color: #fff;
}

.topic-header{
    margin-top: 15remS;
}

.topic-header ul li {
    display: inline;
}

.sidebar-header{
    font-weight: bold;
}

.topic-header ul li {
    margin-right: 2rem;
}

.card-body ul li{
    display: inline;
    margin-right: 3rem;
}

.resolved {
    background-color: grey;
}
