{% extends "base.html" %}
{% load static %}
{% block title %}
{% if subject %}{{ subject.name }}{% else %} Home {% endif %}
{% endblock %}
{% block content %}
<!-- SIDEBAR -->
<div id="sidebar">
    <h2 class="sidebar-header">Subjects</h2>
    <ul>
        <li {% if not subject %}class="selected" {% endif %}>
            <a href="{% url "notes:topic_list" %}">All</a>
        </li>
        {% for s in subjects %}
        <li {% if subject.slug == s.slug %}class="selected" {% endif %}>
            <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
        </li>
        {% endfor %}
        <button class="add-subject btn btn-success">  <a href="{% url "notes:subject_add"  %}">Add Subject </a></button>
    </ul>
</div>
<!-- BODY -->
<div id="main" class="container">

    {% if subject %}
    <header class="topic-header container"> 
        <h4>{{ subject.name }}</h4> 
        <ul>
            <li><a class="action" href="{% url "notes:subject_update" subject.id %}">Edit</a></li>
            <li><a class="delete" href="{% url "notes:subject_delete" subject.id %}">Delete </a></li>
        </ul>
    </header>
    {% else %}
    <header class="topic-header">
        <h4>Your Notes:</h4>
    </header>
    {% endif %}
    
    <div class="row gap-2">
        {% for topic in topics %}
        <div class="card shadow-sm rounded-2 m-1" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title ">{{ topic.title }}</h5>
                <br>
                <p class="card-text text-muted">{{ topic.notes|truncatechars:50 }}</p>
                <a class="action" href="{{ topic.get_absolute_url }}" class="card-link">Visit</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- ADD NEW TOPIC -->
    {% if subject %} 
    <button type="button" class="btn btn-secondary add-resource">
        <a href="{% url "notes:topic_add" subject.id %}" class=" text-center">Add New Topic </a>
    </button>
{% endif %}
</div>
    {% endblock %}