{% extends "base.html" %}
{% load static %}
{% block title %}
{% if subject %}{{ subject.name }}{% else %} subjects {% endif %}
{% endblock %}
{% block content %}
<!-- SIDEBAR -->
<div id="sidebar">
    <h3>Subjects</h3>
    <ul>
        <li {% if not subject %}class="selected" {% endif %}>
            <a href="{% url "notes:topic_list" %}">All</a>
        </li>
        {% for s in subjects %}
        <li {% if subject.slug == s.slug %}class="selected" {% endif %}>
            <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
        </li>
        {% endfor %}
        <li> <a href="{% url "notes:subject_add"  %}" class="add-subject add-resource">Add Subject </a></li>
    </ul>
</div>
<!-- BODY -->
<div id="main" class="container">
    <h1 class="topic-header">{% if subject %}{{ subject.name }} 
        <li><a href="{% url "notes:subject_update" subject.id %}">Edit</a></li>
        <li><a href="{% url "notes:subject_delete" subject.id %}">delete</a></li>     
        {% else %} Your notes {% endif %}</h1>
    <div class="row gap-2">
        {% for topic in topics %}
        <div class="card shadow-sm rounded-2 m-1" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title ">{{ topic.title }}</h5>
                <br>
                <p class="card-text text-muted">{{ topic.notes|truncatechars:50 }}</p>
                <a href="{{ topic.get_absolute_url }}" class="card-link">Visit</a>
            </div>
        </div>
        {% endfor %}
        <!-- ADD NEW TOPIC -->
        {% if subject %} 
        <button type="button" class="btn btn-light btn-lg">
            <a href="{% url "notes:topic_add" subject.id %}" class="mt-1 add-resource text-center">Add New Topic </a>
        </button>
        {% endif %}
    </div>
</div>
    {% endblock %}