{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Add new Question
{% endblock %}
{% block content %}
<H5> Add new Question  </H5>
<h1>{% if error %} Sorry, there was an error on our end, pleasem try again {% endif %}</h1>
<!-- <form method="post">
    {% for field in form %}
  <div>
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
  </div>
{% endfor %}

    {% csrf_token %}
    <input type="submit" value="Add">
</form> -->
<form method="post">
  {% csrf_token %}
  {{ form|crispy  }}
  <button type="submit" class="btn btn-success">Add Question</button>
</form>
{% endblock %}